<body>
    <!--================ Start Header Menu Area =================-->
      <header class="header_area">
      <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
          <div class="container">
            <a class="navbar-brand logo_h" href="/"><img src="/img/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
              <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                <li class="nav-item <%= path === '/' ? 'active' : '' %>"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item <%= path === '/products' ? 'active' : '' %>"><a class="nav-link" href="/products">Shop</a></li>
                <% if (isAuthenticated) { %>
                  <li class="nav-item <%= path === '/admin/admin-products' ? 'active' : '' %>"><a class="nav-link" href="/admin/admin-products">Admin Products</a></li>
                  <li class="nav-item <%= path === '/admin/add-product' ? 'active' : '' %>"><a class="nav-link" href="/admin/add-product">Add Products</a></li>
                <% } %>
              </ul>
  
              <% if (isAuthenticated) { %>
                <ul class="nav-shop">
                  <li class="nav-item">
                    <a href="/cart" class="<%= path === '/cart' ? 'active' : '' %>"><i class="ti-shopping-cart active"></i>
                      <!-- <span class="nav-shop__circle">3</span> -->
                    </a> 
                  </li>
                </ul>
                <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                  <li class="nav-item <%= path === '/order' ? 'active' : '' %>"><a href="/order" class="nav-link">My Orders</a></li>
                  <li class="nav-item">
                    <form action="/logout" method="POST" style="padding-top: 50%">
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                      <button type="submit" style="border: none; background-color: white;">Logout</button>
                    </form>
                  </li>
                </ul>
              <% } else { %>
                <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                  <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                  <li class="nav-item"><a class="nav-link" href="/signup">Register</a></li>
                </ul>
              <% } %>
            </div>
          </div>
        </nav>
      </div>
    </header>
      <!--================ End Header Menu Area =================-->